.footer {
    padding-inline: 20px;

    a {
        font-weight: 600;
        font-size: 15px;
        color: black;
        transition: all 0.2s;

        &:hover {
            color: #85d386;
        }
    }
}