.header {
    padding: 20px 10px;

    @media(max-width: 767px) {
        padding: 10px;
    }

    h1 {
        font-family: 'Raleway-light';
        font-size: 20px;

        @media(max-width: 767px) {
            font-size: 15px;
        }
    }

    .navbar-brand {
        @media(max-width: 767px) {
            max-width: 280px;
        }
    }

    .navbar {
        padding: 0;

        .navbar-collapse{
            @media(max-width: 991px) {
               background: #ffffffbd;
               backdrop-filter: blur(20px);
               position: absolute;
               top: calc(100% + 25px);
               border: 1px solid #3aa13a;
               width: 100%;
            }
        }

        .navbar-nav {
            @media(max-width: 991px) {
                padding: 20px 0;
            }
            
            .nav-link {
                color: #3aa13a;
                font-size: 18px;
                margin-left: 10px;

                &:hover {
                    color: $color-primary;
                    font-family: 'Raleway-semiBold';
                }

                &.active {
                    color: $color-primary;
                    font-family: 'Raleway-semiBold';
                }
            }
        }
    }

}