.banner {
    padding-bottom: 10px;

    .banner-top {
        padding: 5px 0;
        background: #5cad5c;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;

        .contacts {
            color: #FCFCFC;
            font-size: 22px;
            font-weight: 400;
        }
    }

    .banner-footer {
        padding: 10px 20px 0px;

        p {
            font-weight: 400;
            font-size: 15px;
        }

        h2 {
            font-size: 30px;
            font-weight: 300;

            @media(max-width: 767px) {
                font-size: 26px;
            }
        }

        .p-header {
            padding: 20px;

            p {
                font-weight: 400;
                font-size: 18px;

                @media(max-width: 767px) {
                    padding: 0px 10px 20px;
                    font-size: 15px;
                }
            }
        }
    }
}