.banner-link-button {
    background: $color-primary;
    color: #fff;
    border: 1px solid #fff;
    font-size: 18px;
    padding-inline: 35px;
    box-shadow: 1px 2px 3px #666;

    i {
        font-size: 25px;
    }

    &:hover {
        background: #68ce58;
        color: #fff;
    }
}

.submit-button {
    background: $color-primary;
    color: #fff;
    font-size: 18px;
    padding-inline: 35px;
    box-shadow: 1px 2px 3px #666;

    i {
        font-size: 25px;
    }

    &:hover {
        background: #68ce58;
        color: #fff;
    }
}

.button-nav {
    background: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    display: inline-block;
    padding: 5px 12px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.2s linear;

    &.button-left {
        left: 10px;
    }

    &.button-right {
        right: 10px;
    }

    &:hover {
        background: #68ce58;
        color: #fff;
    }
}