.service-list {
    padding-top: 30px;

    .wrapper{
        padding-inline: 20px;
        padding-bottom: 20px;

        .card-wrapper {
            border: 1px solid #c6c6c6;
            height: 100%;
            border-radius: 10px;
            overflow: hidden;

            h3 {
                font-family: 'Raleway-semiBold';
                font-size: 20px;
                text-align: center;
                padding-block: 12px;
                background: #5cad5c;
                color: #ffffff;
            }

            .price-card {
                height: 100%;
                padding: 0px 10px 10px;

                .list-ul {
                    padding-left: 30px;
                    
                    li {
                        list-style-image: url(./../images/list.webp);
                        padding-bottom: 10px;
                        font-size: 15px;
                    }
                }

                .Slider-Image{
                    .swiper{

                        .swiper-button-next,
                        .swiper-button-prev{
                            background: #5cad5c;
                            border-radius: 5px;
                            padding: 0 15px;

                            &::after{
                                font-size: 20px;
                                font-weight: bold;
                                color: #ffffff;
                            }
                        }
                    }
                }
            }
        }
    }
}