.service-list {
    padding-top: 30px;

    .wrapper{
        padding-inline: 20px;
        padding-bottom: 20px;

        .card-wrapper {
            border: 1px solid #c6c6c6;
            height: 100%;
            border-radius: 10px;
            overflow: hidden;

            h3 {
                font-weight: 600;
                font-size: 20px;
                text-align: center;
                padding-block: 12px;
                background: #5cad5c;
                color: #ffffff;
            }

            .price-card {
                height: 100%;
                padding: 0px 10px 10px;

                .list-ul {

                    li {
                        list-style-image: url(./../images/list.webp);
                        padding-bottom: 10px;
                        font-weight: 400;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}