/*=== abstracts css start === */ /* cyrillic-ext */
/*===// end of abstracts css === */
/*=== base css start === */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  margin: 0;
}

::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
p,
address,
strong,
i {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul,
li {
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 25px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #379429;
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8c8c8c;
}

body {
  font-family: "Raleway", sans-serif;
  color: #000000;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1080px;
  }
}

/*===// end of base css === */
/*=== layouts css start === */
.header {
  padding: 20px 10px;
}
@media (max-width: 767px) {
  .header {
    padding: 10px;
  }
}
.header h1 {
  font-family: "Raleway-light";
  font-size: 20px;
}
@media (max-width: 767px) {
  .header h1 {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .header .navbar-brand {
    max-width: 280px;
  }
}
.header .navbar {
  padding: 0;
}
@media (max-width: 991px) {
  .header .navbar .navbar-collapse {
    background: rgba(255, 255, 255, 0.7411764706);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    position: absolute;
    top: calc(100% + 25px);
    border: 1px solid #3aa13a;
    width: 100%;
  }
}
@media (max-width: 991px) {
  .header .navbar .navbar-nav {
    padding: 20px 0;
  }
}
.header .navbar .navbar-nav .nav-link {
  color: #3aa13a;
  font-size: 18px;
  margin-left: 10px;
}
.header .navbar .navbar-nav .nav-link:hover {
  color: #379429;
  font-family: "Raleway-semiBold";
}
.header .navbar .navbar-nav .nav-link.active {
  color: #379429;
  font-family: "Raleway-semiBold";
}

.footer {
  padding-inline: 20px;
}
.footer a {
  font-family: "Raleway-semiBold";
  font-size: 15px;
  color: black;
  transition: all 0.2s;
}
.footer a:hover {
  color: #85d386;
}

/*===// end of layouts css === */
/*=== components css start === */
.banner-link-button {
  background: #379429;
  color: #fff;
  border: 1px solid #fff;
  font-size: 18px;
  padding-inline: 35px;
  box-shadow: 1px 2px 3px #666;
}
.banner-link-button i {
  font-size: 25px;
}
.banner-link-button:hover {
  background: #68ce58;
  color: #fff;
}

.submit-button {
  background: #379429;
  color: #fff;
  font-size: 18px;
  padding-inline: 35px;
  box-shadow: 1px 2px 3px #666;
}
.submit-button i {
  font-size: 25px;
}
.submit-button:hover {
  background: #68ce58;
  color: #fff;
}

.button-nav {
  background: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 12px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.2s linear;
}
.button-nav.button-left {
  left: 10px;
}
.button-nav.button-right {
  right: 10px;
}
.button-nav:hover {
  background: #68ce58;
  color: #fff;
}

.banner {
  padding-bottom: 10px;
}
.banner .banner-top {
  padding: 5px 0;
  background: #5cad5c;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.banner .banner-top .contacts {
  color: #FCFCFC;
  font-size: 22px;
}
.banner .banner-footer {
  padding: 10px 20px 0px;
}
.banner .banner-footer p {
  font-size: 15px;
}
.banner .banner-footer h2 {
  font-size: 30px;
  font-family: "Raleway-light";
}
@media (max-width: 767px) {
  .banner .banner-footer h2 {
    font-size: 26px;
  }
}
.banner .banner-footer .p-header {
  padding: 20px;
}
.banner .banner-footer .p-header p {
  font-size: 18px;
}
@media (max-width: 767px) {
  .banner .banner-footer .p-header p {
    padding: 0px 10px 20px;
    font-size: 15px;
  }
}

.time-commu {
  padding: 20px;
  background: #ededed;
}
.time-commu h3,
.time-commu a {
  display: block;
  font-family: "Raleway-light";
  font-size: 25px;
  color: #000;
  text-align: center;
}
@media (max-width: 767px) {
  .time-commu h3,
  .time-commu a {
    font-size: 18px;
  }
}

.festperis {
  padding: 20px 35px;
  background: #ededed;
  text-align: center;
}
@media (max-width: 767px) {
  .festperis .middle {
    padding: 10px 0;
  }
}
.festperis h3 {
  font-family: "Raleway-medium";
  font-size: 25px;
  color: #379429;
}
@media (max-width: 767px) {
  .festperis h3 {
    font-size: 22px;
  }
}

.anfrage {
  padding: 20px 35px;
}
@media (max-width: 767px) {
  .anfrage {
    text-align: center;
  }
}
.anfrage a {
  color: #000;
}
.anfrage a:hover {
  color: #379429;
}
.anfrage h4 {
  font-family: "Raleway-medium";
  font-size: 25px;
}
@media (max-width: 991px) {
  .anfrage h4 {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .anfrage h4 {
    font-size: 22px;
  }
}
.anfrage .icon {
  width: 40px;
  margin-right: 10px;
}

.service-list {
  padding-top: 30px;
}
.service-list .wrapper {
  padding-inline: 20px;
  padding-bottom: 20px;
}
.service-list .wrapper .card-wrapper {
  border: 1px solid #c6c6c6;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.service-list .wrapper .card-wrapper h3 {
  font-family: "Raleway-semiBold";
  font-size: 20px;
  text-align: center;
  padding-block: 12px;
  background: #5cad5c;
  color: #ffffff;
}
.service-list .wrapper .card-wrapper .price-card {
  height: 100%;
  padding: 0px 10px 10px;
}
.service-list .wrapper .card-wrapper .price-card .list-ul {
  padding-left: 30px;
}
.service-list .wrapper .card-wrapper .price-card .list-ul li {
  list-style-image: url(./../images/list.webp);
  padding-bottom: 10px;
  font-size: 15px;
}
.service-list .wrapper .card-wrapper .price-card .Slider-Image .swiper .swiper-button-next,
.service-list .wrapper .card-wrapper .price-card .Slider-Image .swiper .swiper-button-prev {
  background: #5cad5c;
  border-radius: 5px;
  padding: 0 15px;
}
.service-list .wrapper .card-wrapper .price-card .Slider-Image .swiper .swiper-button-next::after,
.service-list .wrapper .card-wrapper .price-card .Slider-Image .swiper .swiper-button-prev::after {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

.oil-tank-disposal {
  padding-inline: 20px;
}
.oil-tank-disposal .section-h-d {
  padding: 20px;
  border-radius: 10px;
}
.oil-tank-disposal .section-h-d .min-content {
  border-left: 1px dashed #000;
  padding-left: 5px;
}
.oil-tank-disposal .section-h-d h6 {
  font-family: "Raleway-semiBold";
  font-size: 16px;
  padding-bottom: 5px;
}
.oil-tank-disposal .section-h-d ul li {
  list-style: disc;
  padding-bottom: 5px;
}
.oil-tank-disposal .section-h-d .linko {
  color: #0fa0ce;
  font-size: 15px;
  display: inline-block;
  border-bottom: 1px solid #0fa0ce;
}

.contact-section {
  padding-inline: 20px;
}
.contact-section .con-top {
  background: #f2f2f2;
  padding: 15px 20px;
  border-radius: 10px;
}
.contact-section .con-top h5 {
  font-family: "Raleway-semiBold";
  font-size: 15px;
}
.contact-section .con-top p {
  font-size: 15px;
}
.contact-section .con-main {
  background: #f2f2f2;
  padding: 15px 20px;
  border-radius: 10px;
}
.contact-section .con-main .file-input {
  margin-bottom: 10px;
}
@media (min-width: 992px) {
  .contact-section .con-main .file-input {
    width: 50%;
  }
}
.contact-section .con-main label {
  font-family: "Raleway-semiBold";
  font-size: 15px;
  padding-bottom: 3px;
}
.contact-section .con-main .radio-selects {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
@media (max-width: 991px) {
  .contact-section .con-main .radio-selects {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 767px) {
  .contact-section .con-main .radio-selects {
    grid-template-columns: repeat(2, 1fr);
  }
}

.faq {
  padding: 20px;
}
.faq .top .heading {
  padding-top: 10px;
  font-size: 30px;
  font-family: "Raleway-medium";
  padding-bottom: 15px;
}
.faq .top .heading span {
  font-family: "Raleway-semiBold";
}
.faq .top p {
  color: #6c757d;
  font-size: 18px;
}
.faq .accordion .accordion-item {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.06);
  background: #fff;
  border: none;
}
.faq .accordion .accordion-item .accordion-header .accordion-button {
  cursor: pointer;
  font-family: "Raleway-semiBold";
  font-size: 20px;
}
@media (max-width: 767px) {
  .faq .accordion .accordion-item .accordion-header .accordion-button {
    font-size: 18px;
  }
}
.faq .accordion .accordion-item .accordion-header .accordion-button:focus {
  box-shadow: none;
  background: #fff;
  color: #078372;
}
.faq .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  box-shadow: none;
  background: #fff;
  color: #008372;
}
.faq .accordion .accordion-item .accordion-collapse .accordion-body p {
  font-size: 18px;
  padding: 10px;
}

/*===// end of components css === *//*# sourceMappingURL=style.css.map */